@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #000;
}

body {
  padding-left: 30rem;
}

section {
  padding: 3rem 5%;
}

section:nth-child(even) {
  background: #f6f6f6;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
}

.heading span {
  font-size: 2rem;
  color: #000;
  text-transform: uppercase;
}

.heading h3 {
  padding-top: 1rem;
  font-size: 3rem;
  color: #263238;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1.2rem 3rem;
  cursor: pointer;
  color: #fff;
  background: #1b90f7;
  font-size: 1.7rem;
  border-radius: 20px;
}

.btn:hover {
  transform: translateY(-1rem);
}

.btn-2 {
  display: inline-block;
  margin-top: 1rem;
  padding: 1.2rem 3rem;
  cursor: pointer;
  color: #fff;
  background: #1b90f7;
  font-size: 1.7rem;
}

.btn-2:hover {
  color: #fff;
  background: #1b90f7;
  transform: translateY(-1rem);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #000;
  width: 30rem;
  height: 100%;
  padding: 3rem;
}

.header .logo {
  height: 70px;
  width: 70px;
}

.header .name {
  font-size: 2.5rem;
  color: #fff;
}
.header .navbar {
  padding: 20% 0;
}

.header .navbar a {
  display: block;
  font-size: 2rem;
  margin: 1.7rem 0;
  color: #fff;
}

.header .navbar a i {
  color: #0068de;
  padding-right: 0.5rem;
}

.header .navbar a:hover {
  color: #0068de;
}

.header .navbar a:hover i {
  padding-right: 2rem;
}

.header .share {
  text-align: center;
}

.header .share a {
  text-align: center;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  line-height: 4.5rem;
  font-size: 1.8rem;
  background: #fff;
  color: #0068de;
  margin: 0 0.1rem;
}

.header .share a:hover {
  color: #fff;
  background: linear-gradient(-45deg, #fffde4, #1b90f7);
  transform: translateY(-1rem);
}

.header .credit {
  text-align: center;
  color: #fff;
  font-size: 10px;
  padding-top: 15%;
  line-height: 20px;
  text-align: justify;
}

.header .credit span a {
  color: #0068de;
  background-color: black;
  padding: 5px;
}

.header .credit span a:hover {
  color: #fff;
  background-color: black;
  padding: 5px;
}

#menu-btn {
  position: fixed;
  top: 1rem;
  right: 2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 20px;
  line-height: 5rem;
  font-size: 2.5rem;
  background: #000;
  color: #fff;
  cursor: pointer;
  text-align: center;
  z-index: 10000;
  display: none;
}

#menu-btn.fa-times {
  background: #fff;
  color: #263238;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}

.home .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
}

.home .image img:hover {
  transform: translateY(-1rem);
}

.home .content {
  width: 45rem;
}

.home .content span {
  color: #000;
  font-size: 2rem;
}

.home .content h3 {
  color: #263238;
  font-size: 3rem;
  padding: 2rem 0;
}

.home .content h3 a {
  color: #000;
}

.home .content h3 a:hover {
  text-decoration: underline;
}

.home .content p {
  font-size: 1.4rem;
  color: #777;
  padding-bottom: 1rem;
  line-height: 2;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  body {
    padding-left: 0;
  }
  #menu-btn {
    display: block;
  }
  #menu-btn:hover {
    transform: translateY(-1rem);
  }
  .header {
    left: -110%;
    line-height: 25px;
  }
  .header.active {
    left: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    width: 35rem;
  }
  .home .content h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  header .credit {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    padding-top: 15%;
    line-height: 25px;
  }
  .contact .row form .inputBox input {
    width: 100%;
    border-radius: 25px;
  }

  .contact .row form textarea {
    width: 100%;
    border-radius: 25px;
  }
}

.container {
    max-width: 900px;
    margin: 0px auto;
}

.apply-box {
    max-width: 600px;
    padding: 20px;
    margin: 0px auto;
    margin-top: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(138, 212, 255, 0.2);
    box-shadow: 0 4px 30px rgba(138, 212, 255, 0.2);
    border-radius: 40px;
}

.title-small {
    font-size: 20px;
}

.form-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form-control {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    margin-bottom: 5px;
}

input,
select,
textarea {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

input:focus {
    outline-color: royalblue;

}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

button {
    background-color: royalblue;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
}

button:hover {
    background-color: red;
    border: 2px solid royalblue;
    color: white;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.textarea-control {
    grid-column: 1/ span 2;

}

.textarea-control textarea {
    width: 100%;

}

@media (max-width:460px) {
    .textarea-control {
        grid-column: 1/ span 1;
    }
}